<div>
  <ol>
    <li *ngFor="let questionFlow of parentFlows" class="list-group-item" (click)="$event.stopPropagation();openQuestionFlowForm(questionFlow)">
      <div *ngIf="questionFlow.completed == true" class="row alert alert-success">
        <div class="col">
          <p>{{questionFlow.question}}</p>
        </div>
      </div>
      <div *ngIf="questionFlow.completed == false" class="row alert alert-danger">
        <div class="col">
          <p>{{questionFlow.question}}</p>
        </div>
      </div>
      <!-- Need to get the questionFlows to display -->
      <app-questions *ngIf="questionFlow.questionFlows.length > 0" [questionFlows]="questionFlows" [parentFlows]="childQuestionFlows(questionFlow)"
        (questionFlowFormOpen)="openQuestionFlowForm($event)"></app-questions>
    </li>
  </ol>
</div>
