<div class="row border" style="height:85vh">
  <div class="col border" style="overflow:auto">
    <app-sections [sections]="sections$ | async" (questionFlowsOpen)="onQuestionFlowOpen($event)"></app-sections>
  </div>
  <div class="col border" style="overflow:auto">
    <app-questions [questionFlows]="questionFlows$ | async" [parentFlows]="parentFlows$ | async" (questionFlowFormOpen)="onQuestionFlowFormOpen($event)"
      (getChildQuestionFlows)="onGetChildQuestionFlows($event)"></app-questions>
  </div>
  <div class="col border" style="overflow:auto">
    <app-question-form [questionFlow]="questionFlow$ | async" (setQuestionFlowAnswer)="onSetQuestionFlowAnswer($event)"></app-question-form>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="previousQuestion($event)">Previous question</button>
<button type="button" class="btn btn-primary" (click)="nextQuestion($event)">Next question</button>
